{deps_dir,["deps"]}.
{deps,[
    {cowboy, ".*", {git, "git://github.com/voxoz/cowboy2", {tag,master}}},
    {nitro, ".*", {git, "git://github.com/synrc/nitro",    {tag,"4.4"}}},
    {n2o,   ".*", {git, "git://github.com/synrc/n2o",      {tag,master}}},
    {kvs,   ".*", {git, "git://github.com/synrc/kvs",      {tag,"6.4"}}}
]}.
