{deps_dir,["deps"]}.
{deps,[
    {nitro, ".*", {git, "git://github.com/synrc/nitro", {tag,master}}},
%    {active, ".*", {git, "git://github.com/synrc/active", {tag,master}}},
    {cowboy, ".*", {git, "git://github.com/voxoz/cowboy2", {tag,master}}},
    {n2o,   ".*", {git, "git://github.com/synrc/n2o",   {tag,master}}},
    {kvs,   ".*", {git, "git://github.com/synrc/kvs",   {tag,master}}}
]}.
