html{zoom:0.9;color:#252525;background:#EBEBEB;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
fieldset,img{border:0;}
.content {max-width:1280px;min-width:800px;}

/* FORMS */
input,textarea{border:0;}
form .box{padding:5px 7px 5px 5px;background:#287baa;}
form .textbox,form .textarea{width:100%;border:1px solid #2676a2;}
form .textbox.first{float:left;width:49.6%;}
form .textbox.last{float:left;position:relative;left:5px;width:49.6%;}
.textbox input,.textarea textarea{display:block;padding:4px 0 4px 6px;width:100%;font-size:20pt;}
.textarea textarea{padding:4px;width:100%;height:144px;text-indent:0;}
form .submit{position:relative;padding:0 8px;background:#f3ed87 url('gr-yellow.png') repeat-x scroll top left;height:32px;color:#144460;font-size:16pt;font-weight:bold;text-align:center;text-decoration:none;text-shadow:#fff 1px 1px 1px;text-transform:uppercase;border-top:1px solid #fdfad5;border-left:1px solid #fdfad5;border-right:1px solid #c9c662;border-bottom:1px solid #c9c662;}
form .submit:hover{background:#dad671;}
form .submit:active{border-top:1px solid #c9c662;border-left:1px solid #c9c662;border-right:1px solid #fdfad5;border-bottom:1px solid #fdfad5;}
form#quote fieldset{margin-left:-230px;padding:27px 0 27px 218px;background:url('hr-dashed.gif') repeat-x scroll bottom right;}
form#quote h5 {margin-bottom:1em;font-size:24pt;font-weight:bold;}
form#quote .legend{float:left;margin:2px 0 0;padding:0 26px 0 42px;width:25%;}
form#quote .legend h4 {color:#252525;font-size:26pt;}
form#quote .legend p{font-size:18pt;}
form#quote .inputs{float:left;width:65%;font-size:18pt;}
form#quote .inputs p{font-size:20pt;}
form#quote .box,form#comment .box{margin:4px 0;}
form .textbox,form .textarea{position:relative;}
form .textbox .required,form .textarea .required{display:block;position:absolute;right:15px;top:10px;color:#8c8c8c;font-size:11pt;text-transform:uppercase;}
.box label{display:block;margin:5px 0 10px;padding:0 0 0 10px;color:white;}
.box.checkbank label{margin-bottom:5px;}
.textbox label{display:none;}
form#quote .box.upload{position:relative;margin-top:25px;margin-bottom:45px;}
form#quote .box.checkbank{position:relative;margin-bottom:10px}
form#quote .box.upload label,form#quote .box.checkbank label{position:relative;padding-left:42px;}
form#quote .box.upload label{display:block;margin-top:10px;margin-bottom:-10px;line-height:1.6em;}
form#quote .box.upload .sprite,form#quote .box.checkbank .sprite{position:absolute;top:-3px;left:10px;background:url('../img/sp-icons.png') no-repeat scroll -243px -159px;width:19px;height:21px;}
form#quote .box.checkbank .sprite{top:-1px;background-position:-262px -159px;width:22px;height:18px;}
form#quote .box.upload .arrow,form#quote .box.checkbank .arrow{border-bottom:20px solid transparent;border-right:16px solid #287BAA;display:block;height:0;left:18px;position:absolute;bottom:-20px;width:0;}
form#quote .checkbox,form#quote .radio{padding:3px 0;font-size:18pt;}
form#quote .checkbox{margin-left:47px;clear:both;}
form#quote .radio.left{float:left;width:245px;}
form#quote .checkbox span,form#quote .radio span{cursor:pointer;}
form#quote .checkbox label,form#quote .radio label{margin-left:12px;line-height:36px;cursor:pointer;}
form#quote div.btn{width:300px;}
form#quote div.btn input{width:100%;height:68px !important;font-size:31pt !important;line-height:68px !important;}
form#quote #email-confirm {display: none;}
#upload-resumeUploader{position:absolute;bottom:-45px;left:47px;background:#f3ed87 url('gr-yellow.png') repeat-x scroll top left;border-top:1px solid #fdfad5;border-left:1px solid #fdfad5;border-right:1px solid #c9c662;border-bottom:1px solid #c9c662;z-index:55;}
.uploadifyQueue{position:relative;margin-bottom:20px;top:17px;left:42px;}
.ui-helper-hidden-accessible{left:-999em;position:absolute;}
span.ui-checkbox,span.ui-radio{float:left;display:block;background:url('sp-checkradio.png') no-repeat scroll top left;width:35px;height:36px;cursor:pointer;}
span.ui-radio{background-position:0 -72px;}
span.ui-checkbox-state-checked,span.ui-checkbox-state-checked-hover{background-position:0 -36px;}
span.ui-radio-state-checked,span.ui-radio-state-checked-hover{background-position:bottom left;}
label.ui-checkbox-state-checked,label.ui-checkbox-state-checked-hover,
label.ui-radio-state-checked,label.ui-radio-state-checked-hover{color:#252525 !important;}
.errors .inputs{padding:20px;background:#F9F5A4;width:440px !important;border:2px solid #fda716;}
.box.error{background:#F9F5A4;}
.box.error .textbox,.box.error .textarea{border-color:#fda716;}

/* FLOAT CLEARING */
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{display:inline-block;}
/* start commented backslash hack \*/
* html .clearfix{height:1%;}
.clearfix{display:block;}
/* close commented backslash hack */
